name: Sync Fork

on:
  schedule:
    # Runs automatically every 6 hours
    - cron: '0 */6 * * *'
  workflow_dispatch:
    # Allows you to run this manually from the Actions tab

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      # This step is required by the sync action to access the repository.
      - name: Checkout target repository
        uses: actions/checkout@v4
        with:
          # We must use the PAT here to allow the push operation later.
          token: ${{ secrets.PAT }}

      - name: Sync fork with upstream repository
        uses: aormsby/fork-sync-with-upstream-action@v3.4
        with:
          # REQUIRED: The repository you are syncing FROM.
          upstream_sync_repo: pflyly/eden-nightly
          
          # REQUIRED: The branch in the upstream repo to sync from.
          upstream_sync_branch: main
          
          # REQUIRED: The branch in THIS repository to sync TO.
          target_sync_branch: main

          # REQUIRED: The Personal Access Token (PAT) you created.
          target_repo_token: ${{ secrets.PAT }}
          
          # Force a sync even if there are merge conflicts (overwrites local changes)
          force: true
          
          # Files and directories to protect from being overwritten by the sync
          ignore_files: |
            README.md
            .github/patches/
